.poke-text__container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  background-color: rgb(75, 75, 75);
  margin: 0.5rem;
  border-radius: 15px;
  height: 250px;
  .entry {
    text-align: center;
    color: white;
    font-size: 5vw;
  }

  @media (min-width: 700px) {
    .entry {
      font-size: 2vw;
    }
  }
}
