.poke-text__container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  background-color: rgb(75, 75, 75);
  margin: 0.5rem;
  border-radius: 15px;
  height: 22%;
  .entry {
    text-align: center;
    color: white;
    font-size: 5vw;
  }

  @media (min-width: 700px) {
    .entry {
      font-size: 2vw;
    }
  }
}

@media (min-height: 570px) {
  .poke-text__container {
    height: 30%;
  }

  @media (min-height: 570px) {
    .poke-text__container {
      height: 38%;
      .entry {
        font-size: 4.5vw;
      }
    }

    @media (min-height: 730px) {
      .poke-text__container {
        height: 43%;
      }
    }
  }
}
